.home-container {
  position: absolute;
  height: 50%;
  bottom: 0%;
  left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.destacada-title {
  max-width: 700px;
  font-family: "Bebas Neue", cursive;
  font-style: normal;
  font-weight: lighter;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 16px;
  text-transform: uppercase;
  color: #64eebc;
  padding: 0;
  margin: 0;
  position: relative;
  margin-bottom: 20px;
  margin-top: 60px;
  text-align: start;
  animation: fadeIn;
  animation-duration: 5s;
}

.original-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue";
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 4px;
  color: #ffffff;
  height: 20px;
  position: absolute;
  top: 30px;
  animation: fadeInDown;
  animation-duration: 2s;
}

.home-original {
  font-weight: lighter;
}

.original-liteflix {
  font-weight: bolder;
  padding-left: 5px;
}

.btns-container {
  left: 90px;
  margin-top: 13px;

  animation: fadeInUp;
  animation-duration: 3s;
}
.reproducir-btn {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 4px;
  color: #ffffff;
  background: #363636;
  width: 218px;
  height: 46px;
  border: none #363636;
}

.bsplay {
  position: absolute;
  margin-top: -3px;
  margin-left: -25px;
  font-size: 25px;
}

.bsplus {
  position: absolute;
  margin-top: 0px;
  margin-left: -25px;
  font-size: 20px;
}

.lista-btn {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 4px;
  color: #ffffff;
  margin-left: 20px;
  background: #36363677;
  width: 218px;
  height: 46px;
  border: solid 1px #ffffff8e;
}

.home-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  right: 5.5%;
  top: calc(50% - 18px / 2 - 325px);
  animation: fadeIn;
  animation-duration: 3s;
}

@media (max-width: 1020px) {
  .home-container {
    justify-content: center;
    align-items: center;
    bottom: 15%;
  }

  .destacada-title {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 80px;
    max-width: 500px;
  }

  .original-container {
    top: 0;
    left: 0;
    position: absolute;
  }

  .btns-container {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .lista-btn {
    margin-left: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 780px) {
  .home-container {
    justify-content: center;
    align-items: center;
    left: auto;
    bottom: 15%;
  }

  .destacada-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 80px;
    max-width: 700px;
  }

  .original-container {
    top: 0;
    position: relative;
  }

  .btns-container {
    position: initial;
  }

  .lista-btn {
    margin-left: 0;
    margin-top: 10px;
  }

  .home-dropdown {
    align-items: center;
    right: 18%;
    top: 100%;
  }
}
