
.modal-back{
  background-repeat: no-repeat;
  background-color:#2424247c;
  background-size: cover;
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn;
  animation-duration: 0.2s;
}

.modal-container{
    position: relative;
    width: 730px;
    height: 440px;
    /* left: 20%;
    top: 25%; */
    background: #242424;
    z-index: 1;

    animation: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;


    
}


.form-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
    
}

.modal-title{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 4px;
    color: #64EEBC;
    margin-bottom: 70px;
}

.modal-title-ok{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 4px;
    color: #64EEBC;
    margin-bottom: 70px;
}

.close-btn{
  position: absolute;
  right: 20px;
  top: 15px;
  background-color: transparent;
  color: #FFFFFF;
  border: hidden;
  cursor: pointer;
}

label.label input[type="file"] {
    position: absolute;
    top: -1000px;
    
  }
  .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: dashed 1px #cccccc;
    padding: 5px 15px;
    margin: 5px;
    height: 75px;
    width: 600px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 4px;
    color: #FFFFFF;
    
  }

  .drag-span-resp{
    display: none;
  }

  .modal-nombre{
    background: transparent;
    font-family: 'Bebas Neue';
    font-weight: lighter;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    position: absolute;
    bottom: 170px;
    left: 297px;
    letter-spacing: 4px;
    color: #FFFFFF;
    border: hidden;
  }

  .modal-felicitaciones{
    font-family: 'Bebas Neue';
    font-weight: lighter;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 4px;
    color: #FFFFFF;
  }
  

  ::placeholder{
    font-family: 'Bebas Neue';
    font-weight: lighter;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 4px;
    color: #FFFFFF;
  }

  .modal-nombre:focus{
    outline: none;
  }

  hr{
    color: #FFFFFF;
    border: 0.5px solid #FFFFFF;
    width: 248px;
    position: absolute;
    bottom: 150px;
    left: 240px;
  }

  .modal-btn-no{
    background: #ffffff7e;
    width: 248px;
    height: 56px;
    border: hidden;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 4px;
    color: #242424;
    position: absolute;
    bottom: 50px;
  }
  
  .modal-btn-ok{
    background: #ffffff;
    width: 248px;
    height: 56px;
    border: hidden;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 4px;
    color: #242424;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 250px
  }
  
  .modal-btn-home{
    background: #ffffff;
    width: 248px;
    height: 56px;
    border: hidden;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 4px;
    color: #242424;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 250px
  }

  .salir-btn{
    background: transparent ;
    width: 248px;
    height: 56px;
    border: 1px solid #ffffff7e;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 4px;
    color: #ffff;
    position: absolute;
    bottom: 0px;
    margin-top: 100px;
    display: none;
    
  }
  

  /* progressBar */

  .progressbar{
    position: relative;
    overflow: hidden;
    top: 30px;
    width: 70vh;
    height: 8px;
    border-radius: 1px;
    background-color: #ffffff7e;
  }
  
  .progressPercent{
    font-family:'Bebas Neue';
    font-weight: lighter;
    position:absolute;
    left: 57px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 4px;
    color: #FFFFFF;
  }

  .modal-cancelar{
    font-family:'Bebas Neue';
    font-weight: lighter;
    position: absolute;
    right: 57px;
    top: 150px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 4px;
    color: #FFFFFF;
    background: transparent;
    border: hidden;
    cursor: pointer;
  }
  
  .modal-listo{
    font-family:'Bebas Neue';
    font-weight: lighter;
    position: absolute;
    right: 57px;
    top: 150px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 4px;
    color: #64EEBC;
    background: transparent;
    border: hidden;
    cursor: pointer;
  }

  .mod-logo{
    left: 7.22%;
    right: 84.93%;
    top: calc(50% - 34px/2 - 400px);
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight:bolder;
    font-size: 34px;
    line-height: 34px;
    letter-spacing: 4px;
    color: #64EEBC;
    display: none;
  }

 

  
  
  @media (max-width: 485px){

    .drag-span, .close-btn{
      display: none;
    }

    .drag-span-resp{
      display: contents;
    }

    .label{
      width: 300px;
      margin: 0;
    }

    .form-modal{
      height: 600px;
      position: absolute;
      margin-left: 27%;
      margin-top: 50px;
      justify-content: flex-start;

    }

    .modal-container{
      height: 100%;
    }

    .modal-title{
      position: absolute;
      top: 190px;
      left: 38%;
    }
    
    .modal-title-ok{
      display: none;
    }
    
    hr{  
      left:12%;
      bottom: 240px;
    }

    .modal-nombre{
      left: 29%;
      bottom: 250px;
    }


    .label{
      margin: 50%;
    }

    .salir-btn{
      display: block;
    }

    .modal-btn-no{
      bottom: 80px
    }
    
    .modal-btn-ok{
      bottom: 80px;
      left: 40px;
    }
    
    .modal-btn-home{
      bottom: 80px;
      left: 240px;
    }

    .mod-logo{
      display:inline;
      left: 42%;
    }

    .progressbar{
      width: 42vh;
      top: 185px
    }

    .progressPercent{
      left: 0;
      top: 150px;
      font-size: 14px;
    }

    .modal-cancelar, .modal-listo{
      top: 200px;
      right: 0px;

    }

    
  }